App_WebReferences/rs/posta/wsp/WSPWrapperService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://posta.rs/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://posta.rs/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://posta.rs/webservices/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Transakcija">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlKlijent" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="servis" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idVrstaTransakcije" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idTransakcija" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransakcijaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TransakcijaResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlRezultat" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransakcijaWrapper">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlKlijent" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="servis" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idVrstaTransakcije" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="idTransakcija" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransakcijaWrapperResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransakcijaWrapperResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="TransakcijaSoapIn">
    <wsdl:part name="parameters" element="tns:Transakcija" />
  </wsdl:message>
  <wsdl:message name="TransakcijaSoapOut">
    <wsdl:part name="parameters" element="tns:TransakcijaResponse" />
  </wsdl:message>
  <wsdl:message name="TransakcijaWrapperSoapIn">
    <wsdl:part name="parameters" element="tns:TransakcijaWrapper" />
  </wsdl:message>
  <wsdl:message name="TransakcijaWrapperSoapOut">
    <wsdl:part name="parameters" element="tns:TransakcijaWrapperResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TransakcijaWrapperHttpGetIn">
    <wsdl:part name="xmlKlijent" type="s:string" />
    <wsdl:part name="servis" type="s:string" />
    <wsdl:part name="idVrstaTransakcije" type="s:string" />
    <wsdl:part name="idTransakcija" type="s:string" />
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransakcijaWrapperHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TransakcijaWrapperHttpPostIn">
    <wsdl:part name="xmlKlijent" type="s:string" />
    <wsdl:part name="servis" type="s:string" />
    <wsdl:part name="idVrstaTransakcije" type="s:string" />
    <wsdl:part name="idTransakcija" type="s:string" />
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransakcijaWrapperHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WSPWrapperServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Transakcija">
      <wsdl:input message="tns:TransakcijaSoapIn" />
      <wsdl:output message="tns:TransakcijaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransakcijaWrapper">
      <wsdl:input message="tns:TransakcijaWrapperSoapIn" />
      <wsdl:output message="tns:TransakcijaWrapperSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSPWrapperServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TransakcijaWrapper">
      <wsdl:input message="tns:TransakcijaWrapperHttpGetIn" />
      <wsdl:output message="tns:TransakcijaWrapperHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSPWrapperServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TransakcijaWrapper">
      <wsdl:input message="tns:TransakcijaWrapperHttpPostIn" />
      <wsdl:output message="tns:TransakcijaWrapperHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSPWrapperServiceSoap" type="tns:WSPWrapperServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://posta.rs/webservices/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transakcija">
      <soap:operation soapAction="http://posta.rs/webservices/Transakcija" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransakcijaWrapper">
      <soap:operation soapAction="http://posta.rs/webservices/TransakcijaWrapper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPWrapperServiceSoap12" type="tns:WSPWrapperServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://posta.rs/webservices/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transakcija">
      <soap12:operation soapAction="http://posta.rs/webservices/Transakcija" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransakcijaWrapper">
      <soap12:operation soapAction="http://posta.rs/webservices/TransakcijaWrapper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPWrapperServiceHttpGet" type="tns:WSPWrapperServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransakcijaWrapper">
      <http:operation location="/TransakcijaWrapper" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPWrapperServiceHttpPost" type="tns:WSPWrapperServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransakcijaWrapper">
      <http:operation location="/TransakcijaWrapper" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSPWrapperService">
    <wsdl:port name="WSPWrapperServiceSoap" binding="tns:WSPWrapperServiceSoap">
      <soap:address location="https://wsp.posta.rs/WSPWrapperService.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPWrapperServiceSoap12" binding="tns:WSPWrapperServiceSoap12">
      <soap12:address location="https://wsp.posta.rs/WSPWrapperService.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPWrapperServiceHttpGet" binding="tns:WSPWrapperServiceHttpGet">
      <http:address location="https://wsp.posta.rs/WSPWrapperService.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPWrapperServiceHttpPost" binding="tns:WSPWrapperServiceHttpPost">
      <http:address location="https://wsp.posta.rs/WSPWrapperService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>